@import "menu";

body {
    background-image: url(https://images4.alphacoders.com/110/thumb-1920-1100548.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin-top: 30px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 30px;
}

.gui {
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
}

.gui:hover {
    transform: skewY(5deg);  
}

.artistafav {
    font-family: cursive;
    text-align: center;
    color: blanchedalmond;
}

.artistafav2 {
    font-family: cursive;
    text-align: center;
    color: blanchedalmond;
}

.artistafav:hover {
    font-size: 61px;
    color: whitesmoke;
    transform: rotate(359deg);
    font-family: cursive;
}

.artistafav2:hover {
    color: whitesmoke;
}


.p {
    color: blanchedalmond;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}